h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #666666;
}
img{
    max-width: 100%;
}
/* page-banner-section */
.page-banner{
    background: url(	http://demo.hasthemes.com/hashnews-preview/hashnews/img/bg/page-banner-fashion.jpg) no-repeat center center
    ;
    padding: 66px 30px;
}
.page-banner h3 {
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 14px;
}
.page-banner {
    background: url( http://demo.hasthemes.com/hashnews-preview/hashnews/img/bg/page-banner-fashion.jpg) no-repeat center right;
        background-size: auto;
    background-size: cover;
}
.banner-list {
    list-style: none;
    display: flex;
}
.page-banner a {
    color: #ccc;
    font-size: 14px;
  
    font-weight: 500;
}
.page-banner .after::after {
    content: "/";
    color: #ccc;
    margin: 0px 5px;
    font-size: 13px;
    font-weight: 600;
}
/* fashion-section */
/* fashion-header */
/* newnew */
.f-r-h {
    width: 22%;
    float: right;
    text-align: right;
}
.f-l-h {
    width: 78%;
    float: left;
}
/* new */
.fashion-wrapper {
    padding: 40px 30px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.f-l-h, .f-r-h {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.f-l-h button {
    border: none;
    padding: 6px 32px;
    border-radius: 8px;
    background: cadetblue;
    color: azure;
    margin-right: 15px;
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
}
.info-left li {
    display: inline-block;
}
.f-l-h li {
    top: -4px;
    position: relative;
}
.f-r-h li {
    top: 8px;
    position: relative;
}
.f-l-h img {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}
.f-header-info a, .f-header-info li {
    color: currentColor;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-right: 6px;
    display: inline-block;
    margin-left: 3px;
    transition: ease-in-out .4s;
}
.f-header-info a:hover {
    color: #00C8FA;
    text-decoration: none;
}
.f-header-info span {
    color: darkseagreen;
    font-size: 21px;
    margin-right: 7px;
}
/* header-bottom-section */
.fashion-wrapper h2 {
    color: #444;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 37px;
    font-weight: 600;
}
.img-with-content img {
    width: -moz-available;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.img-with-content p {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: 39px;
}
/* img-with-right */
.img-with-right {
    margin-top: 30px;
    margin-bottom: 30px;
}
.img-with-right img {
    float: left;
    width: 65%;
    height: auto;
    border-left: 1px solid #8080802e;
}
.img-with-right p {
    color: #666;
    font-weight: 400;
    letter-spacing: .6px;
    width: 100%;
    background: #fff;
    line-height: 39px;
    font-size: 22px;
}
.img-with-right span {
    font-size: 37px;
    color: #264748;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 66px;
    font-style: italic;
}
/* comment-with-icon */
.comment-with-icon p {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 30px 0;
    letter-spacing: 1px;
    line-height: 40px;
}
.comment-with-icon span {
    color: #fff;
    font-size: 74px;
    position: absolute;
    left: 0;
    top: -42px;
}
.comment-with-icon {
    position: relative;
}
/* img-with-right */
.img-with-left {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.img-with-left img {
    float: right;
    width: 65%;
    height: auto;
    border-right: 1px solid #8080802e;
}
.img-with-left p {
    color: #666;
    font-weight: 400;
    letter-spacing: .6px;
    width: 100%;
    background: #fff;
    line-height: 39px;
    font-size: 22px;
}
/* img-with-footer  */
.img-footer-icon, ul {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 50%;
    margin-bottom: 0;
}
/* ...... */
.img-footer-section ul li {
    display: inline-block;
    margin-right: 10px;
}
.img-footer-section ul li:nth-child(4) {
    margin-right: 0;
}
.img-footer-icon span {
    color: #fff;
    font-size: 18px;
    background: #00C8FA;
    padding: 14px;
    border-radius: 5px;
}
.img-footer-icon a:hover {
        color: #00C8FA;
        text-decoration: none;  
}
.img-footer-icon a {
    color: currentColor;
    font-size: 19px;
    padding: 5px 5px;
    transition: ease-in-out .4s;
}
.img-footer-social {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: -8px;
}
.img-footer-social a {
    font-size: 47px;
    padding: 0px;
    background: #2dcdff;
    color: #fff;
    height: 48px;
    border-radius: 5px;
    line-height: 48px;
    display: block;
    width: 48px;
    text-align: center;
}
/* mediaquery */

@media(max-width:992px){
    .f-l-h button {
        padding: 4px 10px;
        border-radius: 7px;
        margin-right: 0px;
        font-size: 16px;
        font-weight: 400;
    }
    .f-l-h li {
        top: 0;
    }
    .f-l-h img {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin-right: 6px;
    }
    .f-header-info a, .f-header-info li {
        font-size: 12px;
        font-weight: 300;
        margin-right: 0px;
        margin-left: 2px;
    }
    .f-header-info span {
        font-size: 13px;
        margin-right: 3px;
    }
    .img-footer-icon a {
        font-size: 12px;
        padding: 4px 2px;
    }
    .img-footer-icon span {
        font-size: 13px;
        padding: 4px;
        border-radius: 4px;
    }
    .img-footer-icon, ul {
        padding-left: 0;
        width: 54%;
        margin-bottom: 0;
    }
    .img-footer-social {
        width: 40%;
        margin-top: 0;
    }
    .img-footer-section ul li {
        margin-right: 5px;
    }
    .img-footer-social a {
        font-size: 24px;
        padding: 0px;
        height: 27px;
        border-radius: 5px;
        line-height: 27px;
        width: 27px;
    }
}
@media(max-width:768px){
    .f-l-h {
        width: 72%;
    }
    .f-r-h {
        width: 28%;
        margin-top: -4px;
    }
}
@media(max-width:524px){
    .f-l-h {
        width: 100%;
        text-align: center;
    }
    .f-r-h {
        width: 100%;
        text-align: center;
    }
}
@media(max-width:443px){
    .img-footer-social {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .img-footer-icon, ul {
        width: 100%;
        text-align: center;
    }    
}